{% extends 'base.html' %}
{% block content %}

<div class='container'>
    {% if form.email.errors %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Error!</strong> {{ form.email.errors }}
</div>
    {% endif %}    
        <form method = "post" action = "{% url 'password_reset' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="pwd">Enter your email:</label>
            {{form.email}}
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>


{% endblock %}