{% extends 'base.html' %}
{% block content %} 

<table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Model</th>
        <th>System</th>
        <th>Quantity</th>
        <th>Price for unit</th>
        <th>Total price products</th>
      </tr>
    </thead>
    <tbody>
        {% for item in cart %}
            <tr>
                <td><img class="card-img-top" src={{ item.Phone.picture_url }} style="height: 225px; width: auto; display: block;"> 
                <td>{{ item.Phone.name }}</td>
                <td>{{ item.Phone.model }}</td>
                <td>{{ item.Phone.system }}</td>
                <td><input type='number' max={{ item.Phone.amount }} min=1 value={{ item.quantity }}></td>
                <td>{{ item.price }}</td>
                <td>{{ item.total_price_products }}</td>
                <td><a href="{{ item.Phone.delete }}" class="btn btn-sm btn-outline-secondary" role='button'>Delete</a></td>
            </tr>
        {% endfor %}  
                <tr id="checkout">
                    <td colspan='4' class='text-right'>The total price of your cart: {{ cart.total_price }}</td>
                </tr>
    </tbody>
</table> 

{% endblock %}