{% extends 'base.html' %}
{% block content %}
{% for phone in phones %}
  <div class='container'>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src={{ phone.picture_url }} style="height: 225px; width: auto; display: block;"> 
        <div class="card-body">
          <p class="card-text">{{phone.name}}</p>
          <p class="card-text">{{phone.model}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              
                <a href="{{ phone.get_absolute_url }}" class="btn btn-sm btn-outline-secondary" role='button'>View</a>
                <a href="{{ phone.add_to_cart }}" class="btn btn-sm btn-outline-secondary" role='button'>Add to cart</a>
              
            </div>
          <small class="text-muted">{{phone.price}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}  
{% endblock %}